In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("resources/jamesbond.csv")
df # dosya okuma işlemini yapabilmek için pandas kütüphanesini kullanmak gerekiyor

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [10]:
liste = [3, 4, 5]

In [23]:
liste = pd.Series([3, 5, 6, 6,3, 3])

In [24]:
liste.sum() #pandas kullanılmadan bu fonksiyonlar kullanılmıyor.

26

In [25]:
liste.mode()

0    3
dtype: int64

In [26]:
liste.values

array([3, 5, 6, 6, 3, 3], dtype=int64)

In [27]:
type(liste.values)

numpy.ndarray

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               26 non-null     object
 1   Year               26 non-null     int64
 2   Actor              26 non-null     object
 3   Director           26 non-null     object
 4   Box Office         26 non-null     float64
 5   Budget             26 non-null     float64
 6   Bond Actor Salary  18 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 1.6+ KB

In [30]:
df.head(10) # ilk 10 indexteki değerleri getirir.

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN

In [34]:
df.tail(1) # istenilen kadar son değerleri getirir.

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [39]:
df.isna() # Nan olan değerler true olarak görünüyor

     Film   Year  Actor  Director  Box Office  Budget  Bond Actor Salary
0   False  False  False     False       False   False              False
1   False  False  False     False       False   False              False
2   False  False  False     False       False   False              False
3   False  False  False     False       False   False              False
4   False  False  False     False       False   False               True
5   False  False  False     False       False   False              False
6   False  False  False     False       False   False              False
7   False  False  False     False       False   False              False
8   False  False  False     False       False   False               True
9   False  False  False     False       False   False               True
10  False  False  False     False       False   False               True
11  False  False  False     False       False   False               True
12  False  False  False     False       False   False               True
13  False  False  False     False       False   False               True
14  False  False  False     False       False   False              False
15  False  False  False     False       False   False              False
16  False  False  False     False       False   False              False
17  False  False  False     False       False   False              False
18  False  False  False     False       False   False              False
19  False  False  False     False       False   False              False
20  False  False  False     False       False   False              False
21  False  False  False     False       False   False              False
22  False  False  False     False       False   False              False
23  False  False  False     False       False   False              False
24  False  False  False     False       False   False              False
25  False  False  False     False       False   False               True

In [41]:
df.isna().sum() # hangi sutunda kaç tane Nan değer olduğunu döndürdü.

Film                 0
Year                 0
Actor                0
Director             0
Box Office           0
Budget               0
Bond Actor Salary    8
dtype: int64

In [42]:
df.describe().T  # sayısal verilerin olduğu sutünların olasılıkları ge

,count,mean,std,min,25%,50%,75%,max
Year,26.0,1983.576923,16.295209,1962.0,1969.500,1982.00,1996.50,2015.0
Box Office,26.0,491.611538,176.740396,250.9,375.350,461.75,534.50,943.5
Budget,26.0,80.719231,57.097608,7.0,38.450,60.05,123.30,206.3
Bond Actor Salary,18.0,6.850000,4.805175,0.6,3.575,5.50,8.85,17.9

In [64]:
df.squeeze("columns")

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [65]:
len(df)

26

In [66]:
type(df)

pandas.core.frame.DataFrame

In [67]:
dir(df) # df nin sahip olduğu attribute ve methotları getirir

['Actor',
 'Budget',
 'Director',
 'Film',
 'T',
 'Year',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__dataframe_consortium_standard__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_arith_method_with_reindex',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_from_mgr',
 '_constructor_sliced',
 '_constructor_sliced_from_mgr',
 '_create_data_for_split_and_tight_to_dict',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_flex_arith_method',
 '_flex_cmp_method',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_getitem_nocopy',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_maybe_align_series_as_frame',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_shift_with_freq',
 '_should_reindex_frame_op',
 '_slice',
 '_sliced_from_mgr',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [68]:
sorted(df)

['Actor',
 'Bond Actor Salary',
 'Box Office',
 'Budget',
 'Director',
 'Film',
 'Year']

In [70]:
sorted(df, reverse=True)

['Year',
 'Film',
 'Director',
 'Budget',
 'Box Office',
 'Bond Actor Salary',
 'Actor']

In [72]:
dict(df) # seriyi dicte çevirir

{'Film': 0                              Dr. No
 1               From Russia with Love
 2                          Goldfinger
 3                         Thunderball
 4                       Casino Royale
 5                 You Only Live Twice
 6     On Her Majesty's Secret Service
 7                Diamonds Are Forever
 8                    Live and Let Die
 9         The Man with the Golden Gun
 10               The Spy Who Loved Me
 11                          Moonraker
 12                 For Your Eyes Only
 13              Never Say Never Again
 14                          Octopussy
 15                   A View to a Kill
 16               The Living Daylights
 17                    Licence to Kill
 18                          GoldenEye
 19                Tomorrow Never Dies
 20            The World Is Not Enough
 21                    Die Another Day
 22                      Casino Royale
 23                  Quantum of Solace
 24                            Skyfall
 25                            Spectre
 Name: Film, dtype: object,
 'Year': 0     1962
 1     1963
 2     1964
 3     1965
 4     1967
 5     1967
 6     1969
 7     1971
 8     1973
 9     1974
 10    1977
 11    1979
 12    1981
 13    1983
 14    1983
 15    1985
 16    1987
 17    1989
 18    1995
 19    1997
 20    1999
 21    2002
 22    2006
 23    2008
 24    2012
 25    2015
 Name: Year, dtype: int64,
 'Actor': 0       Sean Connery
 1       Sean Connery
 2       Sean Connery
 3       Sean Connery
 4        David Niven
 5       Sean Connery
 6     George Lazenby
 7       Sean Connery
 8        Roger Moore
 9        Roger Moore
 10       Roger Moore
 11       Roger Moore
 12       Roger Moore
 13      Sean Connery
 14       Roger Moore
 15       Roger Moore
 16    Timothy Dalton
 17    Timothy Dalton
 18    Pierce Brosnan
 19    Pierce Brosnan
 20    Pierce Brosnan
 21    Pierce Brosnan
 22      Daniel Craig
 23      Daniel Craig
 24      Daniel Craig
 25      Daniel Craig
 Name: Actor, dtype: object,
 'Director': 0          Terence Young
 1          Terence Young
 2           Guy Hamilton
 3          Terence Young
 4             Ken Hughes
 5          Lewis Gilbert
 6          Peter R. Hunt
 7           Guy Hamilton
 8           Guy Hamilton
 9           Guy Hamilton
 10         Lewis Gilbert
 11         Lewis Gilbert
 12             John Glen
 13        Irvin Kershner
 14             John Glen
 15             John Glen
 16             John Glen
 17             John Glen
 18       Martin Campbell
 19    Roger Spottiswoode
 20         Michael Apted
 21          Lee Tamahori
 22       Martin Campbell
 23          Marc Forster
 24            Sam Mendes
 25            Sam Mendes
 Name: Director, dtype: object,
 'Box Office': 0     448.8
 1     543.8
 2     820.4
 3     848.1
 4     315.0
 5     514.2
 6     291.5
 7     442.5
 8     460.3
 9     334.0
 10    533.0
 11    535.0
 12    449.4
 13    380.0
 14    373.8
 15    275.2
 16    313.5
 17    250.9
 18    518.5
 19    463.2
 20    439.5
 21    465.4
 22    581.5
 23    514.2
 24    943.5
 25    726.7
 Name: Box Office, dtype: float64,
 'Budget': 0       7.0
 1      12.6
 2      18.6
 3      41.9
 4      85.0
 5      59.9
 6      37.3
 7      34.7
 8      30.8
 9      27.7
 10     45.1
 11     91.5
 12     60.2
 13     86.0
 14     53.9
 15     54.5
 16     68.8
 17     56.7
 18     76.9
 19    133.9
 20    158.3
 21    154.2
 22    145.3
 23    181.4
 24    170.2
 25    206.3
 Name: Budget, dtype: float64,
 'Bond Actor Salary': 0      0.6
 1      1.6
 2      3.2
 3      4.7
 4      NaN
 5      4.4
 6      0.6
 7      5.8
 8      NaN
 9      NaN
 10     NaN
 11     NaN
 12     NaN
 13     NaN
 14     7.8
 15     9.1
 16     5.2
 17     7.9
 18     5.1
 19    10.0
 20    13.5
 21    17.9
 22     3.3
 23     8.1
 24    14.5
 25     NaN
 Name: Bond Actor Salary, dtype: float64}

In [74]:
max(df) # sondaki veriyi verir min ilkteki veriyi getirir

'Year'

In [78]:
df.sort_values(by="Film")

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [83]:
df.sort_index(ascending=False) # indexe göre sıralama yapılır. ascending=True verilirse k=>b sıralar

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6

In [84]:
df

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [87]:
"Skyfall" in df.values # verilen değerin df olup olmadığına bakar

True

In [100]:
df.values[3]

array(['Thunderball', 1965, 'Sean Connery', 'Terence Young', 848.1, 41.9,
       4.7], dtype=object)

In [103]:
df.values[3, 1] # 3. satırın 1. sütununu getirir.

1965

In [107]:
df.values[3][2] # 3. satırın 2. sütununu getirir.

array(['Sean Connery'], dtype=object)

In [115]:
df.values[0:10:2]

array([['Dr. No', 1962, 'Sean Connery', 'Terence Young', 448.8, 7.0, 0.6],
       ['Goldfinger', 1964, 'Sean Connery', 'Guy Hamilton', 820.4, 18.6,
        3.2],
       ['Casino Royale', 1967, 'David Niven', 'Ken Hughes', 315.0, 85.0,
        nan],
       ["On Her Majesty's Secret Service", 1969, 'George Lazenby',
        'Peter R. Hunt', 291.5, 37.3, 0.6],
       ['Live and Let Die', 1973, 'Roger Moore', 'Guy Hamilton', 460.3,
        30.8, nan]], dtype=object)

In [121]:
df.get(1)

In [122]:
df.Film

0                              Dr. No
1               From Russia with Love
2                          Goldfinger
3                         Thunderball
4                       Casino Royale
5                 You Only Live Twice
6     On Her Majesty's Secret Service
7                Diamonds Are Forever
8                    Live and Let Die
9         The Man with the Golden Gun
10               The Spy Who Loved Me
11                          Moonraker
12                 For Your Eyes Only
13              Never Say Never Again
14                          Octopussy
15                   A View to a Kill
16               The Living Daylights
17                    Licence to Kill
18                          GoldenEye
19                Tomorrow Never Dies
20            The World Is Not Enough
21                    Die Another Day
22                      Casino Royale
23                  Quantum of Solace
24                            Skyfall
25                            Spectre
Name: Film, dtype: object

In [123]:
df["Film"]

0                              Dr. No
1               From Russia with Love
2                          Goldfinger
3                         Thunderball
4                       Casino Royale
5                 You Only Live Twice
6     On Her Majesty's Secret Service
7                Diamonds Are Forever
8                    Live and Let Die
9         The Man with the Golden Gun
10               The Spy Who Loved Me
11                          Moonraker
12                 For Your Eyes Only
13              Never Say Never Again
14                          Octopussy
15                   A View to a Kill
16               The Living Daylights
17                    Licence to Kill
18                          GoldenEye
19                Tomorrow Never Dies
20            The World Is Not Enough
21                    Die Another Day
22                      Casino Royale
23                  Quantum of Solace
24                            Skyfall
25                            Spectre
Name: Film, dtype: object

In [128]:
df[df["Director"] == "Terence Young"]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

In [133]:
df[df["Director"] != "Terence Young"]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [135]:
import numpy as np
def get_outliers(incoming_df):
 result = {}
 num_df = incoming_df.select_dtypes(include=np.number)
 for col in num_df.columns:
     q3, q1 = np.percentile(incoming_df[col], [75 ,25])
     iqr = q3 - q1
     outliers = df[col][(df[col] < q1 - 1.5 * iqr) | (df[col] > q3 + 1.5 * iqr)].tolist()
     result[col] = outliers
 return result